// Vendor Stylesheets
@import 'vendor/normalize';

// Mixins
@import 'mixins/flex_container';

// Components
@import 'components/navigation';

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Universal Styles
body {
  background-color: skyblue;
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
}

img,
svg,
video,
audio {
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;

  li {
    margin-left: 1em;
    display: inline-block;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
