.navigation {
  background-color: #1E302A;
  width: 100%;
  @include flex-container(row, nowrap, center, space-between);

  .logo-and-name {
    @include flex-container(row, nowrap, center, flex-start);

    .logo {
      height: 48px;
      width: 48px;
      margin-right: 8px;
      padding: 4px;

      img {
        max-width: 100%;
      }
    }

    .app-name {
      h1 {
        font-size: 1.5em;
      }
    }
  }

  .links {
    margin-right: 1em;
    @include flex-container(row, nowrap, center, flex-end);
  }
}
